registry=https://pkgs.dev.azure.com/gdepretz/projet1/_packaging/test/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/gdepretz/projet1/_packaging/test/npm/registry/:username=gdepretz
//pkgs.dev.azure.com/gdepretz/projet1/_packaging/test/npm/registry/:_password=NHFxMnduZmU1ZDVibG92amZ1dnd1bHlwaGVjNzdoejNzenVycTJyMjJkaXluZTY3YTZ0cQ==
//pkgs.dev.azure.com/gdepretz/projet1/_packaging/test/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/gdepretz/projet1/_packaging/test/npm/:username=gdepretz
//pkgs.dev.azure.com/gdepretz/projet1/_packaging/test/npm/:_password=NHFxMnduZmU1ZDVibG92amZ1dnd1bHlwaGVjNzdoejNzenVycTJyMjJkaXluZTY3YTZ0cQ==
//pkgs.dev.azure.com/gdepretz/projet1/_packaging/test/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
